# Linear Regression - Basic

In [1]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
import pandas as pd

In [2]:
my_df = pd.read_csv("data/sample_data_regression.csv")

In [3]:
my_df

    output  input1  input2  input3
0      564     534     536     466
1      182     264     103     244
2      323     272     339     609
3      438     416     444     330
4      547     520     464     104
..     ...     ...     ...     ...
95     150     259     181     336
96     372     299     271     338
97     414     523     455     526
98     729     683     641     601
99     903     840     858     276

[100 rows x 4 columns]

In [4]:
X = my_df.drop(["output"], axis = 1)
y = my_df["output"]

In [5]:
X_train, X_test,y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state= 42)

In [6]:
regressor = LinearRegression()

In [7]:
regressor.fit(X_train, y_train)

LinearRegression()

In [8]:
y_pred = regressor.predict(X_test)
r2_score(y_test, y_pred)

0.7520950550848781